<mat-expansion-panel class="bku-main-color bku-header">
  <mat-expansion-panel-header expandedHeight="120px" collapsedHeight="110px" >
    <mat-panel-title class="bku-padding-left">
      <div>
        <h1>The Best Application</h1>
        <p>A business accounting web application by Lynguine</p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <button mat-button class="bku-main-color bku-menu-button" routerLink="customer">
    <i class="far fa-id-card" style="font-size:24px"></i>&nbsp;&nbsp; Customer List</button>
  <button mat-button class="bku-main-color bku-menu-button" routerLink="accounting">
      <i class="fas fa-file-invoice-dollar" style="font-size:24px"></i>&nbsp;&nbsp; Accounting Form</button>
  <button mat-button class="bku-main-color bku-menu-button" routerLink="report">
    <i class="far fa-folder-open" style="font-size:24px"></i>&nbsp;&nbsp; Report</button>
</mat-expansion-panel>
<router-outlet></router-outlet>
