@import 'assets/styles/colors';
@import 'assets/styles/font-size';
@import 'assets/styles/padding';

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.bku-main-color {
  background-color: darkcyan;
}

.bku-padding-left {
  padding-left: 16px;
}

.bku-menu-button {
  width: 250px;
  text-align: left !important;
}

.mat-expansion-panel-body {
  padding: 0 24px 0 !important;
}

/*color*/
.bku-color-white {
  color: $white;
}

/*font-size*/
.bku-size-l {
  font-size: large;
}

.bku-width-100 {
  width:100%;
}
