
@mixin font-header {
  font-size: large;
  font-weight: bold;
}

@mixin font-sub-header {
  font-size: medium;
}

@mixin font-title {
  font-size: medium;
  font-weight: bold;
}

@mixin font-sub-title {
  font-size: medium;
}

@mixin font-normal {
  font-size: small;
}

@mixin font-mini {
  font-size: smaller;
}
